fastapi==0.115.6
uvicorn[standard]==0.30.0
pytesseract==0.3.10
easyocr==1.7.1
paddleocr==2.7.3
paddlepaddle==2.6.1
pillow==10.4.0
opencv-python==4.9.0.80
torch==2.7.0
torchvision==0.22.0
numpy==1.26.4
pandas==2.2.3
boto3==1.35.36
click==8.1.7
openai==1.53.0
